<div class="card">

  <% if user.picture.url.nil? || user.picture.nil? %>
    <% @picture = "http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png" %>
  <% else %>
    <% @picture = user.picture %>
  <% end %>

  <div class="card-logo" style="background-image: url(<%= @picture %>)"></div>

  <div class="card-category">
    <div class="card-description">
    <p><%= user.name || "user" %></p>
     <hr/>
    <h2><%= user.tag_line %></h2>
    <!-- <p><%= user.skills%></p> -->

  </div>
  </div>



  <%= link_to "",user_path(user),class: "card-link"%>
</div>

