<div class="container">
  <%= render 'tabs' %>

    <h4>Email: <%= @user.email %></h4>
    <h4>Name: <%= @user.name %></h4>
    <h4>Location:<%= @user.location %></h4>
    <h4><%= @user.picture %></h4>
    <h4>Education:<%= @user.education %></h4>
    <h4>Nationality:<%= @user.nationality %></h4>
    <h4>Skills:<%= @user.skills %></h4>
    <h4>Short Bio:<%= @user.bio %></h4>


  <%= link_to "edit", edit_user_registration_path, class: "btn btn-success"  %>
</div>


