<% content_for(:title_tag) do %>
  DotAccess | About Us
<% end %>

<% content_for :meta_title, "DotAccess | About Us" %>

<div class="about-contact margin-bottom">
  <p><span class="yellow">DotAccess.space</span> is a prototype platform created by <%= link_to "Amira Khallouf", "http://www.dotaccess.space", class: "link-style" %> and <%= link_to "Mariasole Alossa", "http://www.dotaccess.space", class: "link-style" %>. It is still <em>under development</em>, but if you have any questions, ideas, comments, offers, or anything at all you would like to tell us, you can shoot us an email <%= mail_to "contact@dotaccess.space", "here", class: "link-style" %>!</p>
</div>

<h2 class="section-title-home">
  <div class="section-title-home-content" style="background-color: white"><%= image_tag "briefcase (1).png", style: "width:14%" %> <strong>OUR AGENDA</strong>
  </div>
</h2>

<div id="agenda-container" class="container margin-bottom" class="text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="agenda-body-card">
        <div class="agenda-body">
          <div class="agenda-content">
            <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims at stimulating a global social change by applying a strength-based approach while dealing with the refugee phenomenon instead of perceiving them as pathetic vulnerable groups.</p>
            <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims mainly at creating an open source database for Refugees's professional profiles.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-author">
      <div class="testimonial-user-name">
        <p style="text-align: left"><strong style="color: #FDB631">.access: </strong> aims at launching the first Humanitarian Internet Domain that stands for esatblishing a bi-directional communication path bewteen refugees and job markets.</p>
        <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims at launching an Association for Forced Migartion Workforce that will regulate and monitor the access of its members to job markets.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="about-content margin-bottom">
    <div class="row">
      <div class="col-xs-12">
        <h2><strong>-How it Works-</strong></h2>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag"Selection_019.png"%>
          </div>
          <div class="col-xs-6">
            <p><strong>HOW IT WORKS:</strong>Launching .access is in itself a digital invitation to all refugees and companies to communicate with each other through our platform.</p>
            <p><strong>Companies</strong> are invited to display their own job vacancies and refugees can apply to them and wait for the decisions of the companies. Thus, there won't be any need for humanitarian organizations to facilitate that reach out or communication that usually requires several months or years.</p>
            <p><strong>Refugees</strong> can make urgent calls on our platform for specifying their needs for professional trainings and job opportunities, especially when their contracts with their humanitarian programs finish.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fact">
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "factmag-logo.jpg"%>
      </div>
      <div class="col-xs-10">
        <p>In many host countries, the legal status of refugees is insecure and does not permit their social inclusion and access to employment and entrepreneurship.</p>
      </div>
    </div>
  </div>
  <div class="about-quote">
    <div class="row">
      <div class="col-xs-9">
        <%= image_tag "126141207.jpg" %>
      </div>
      <div class="col-xs-3">
        <p><strong>"IN WATER, THERE IS NO DIFFERENCE IF YOU'RE A REFUGEE OR SYRIAN OR GERMAN"</strong></p>
        <p><strong>-Yusra Mardini</strong> (Syrian swimmer, member of the Refugee Olympic Athletes Team (ROT), UNHCR Goodwill Ambassador)</p>
      </div>
    </div>
  </div>
</div>
