<div class="wrapper">
  <div class="container">
    <div class="banner">
      <div class="row">
        <h1>.Access</h1>
        <h2>Your Point of Access to Link Refugees and Professional Opportunities</h2>
      </div>
      <div class="row">
      <div class="col col-xs-6">
        <h4>If you are a refugee:</h4>
        <%= link_to "Look for a Job Offer", job_search_path, class: "btn btn-info" %>
      </div>
      <div class="col col-xs-6">
        <h4>If you are a company/employer:</h4>
        <%= link_to "Post a Job Offer and find a Social Change Maker", new_job_offer_path, remote: true, class: "btn btn-info" %>
      </div>
      <div></div>
      </div>
    </div>
    <div class="quote" style="background-image: linear-gradient(-225deg,rgba(245, 246, 247, 0.6) 0%, rgba(60, 61, 62, 0.6) 50%);">
      <%= image_tag "126141207.jpg" %>
      <div class="col-xs-8">
        <div class="col-xs-12">
          <p>"IN WATER, THERE IS NO DIFFERENCE IF YOU'RE A REFUGEE OR SYRIAN OR GERMAN"-Yusra Mardini</p>
        </div>
    <!-- <div class="col-xs-12">
      <div class="search">
        <form action="job_offers">
          <input type="text" class="searchTerm" placeholder="Search job offers" name="search">
          <button  type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div> -->
  </div>
</div>
</div>
</div>

<div class="writtings-inside-quote">
  <div class="quote" style="background-image: linear-gradient(-225deg,rgba(245, 246, 247, 0.6) 0%, rgba(60, 61, 62, 0.6) 50%), margin-top:70px;">

    <div class="col-xs-8">
      <div class="col-xs-12">
        <p style="text-align: center"><strong>WHY.access</u>?</p></strong>
        <%= image_tag"Selection_019.png"%>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="col-xs-12">
        <p style="text-align: left"><strong>.access is the first online platform that opens a direct communication channel bewteen refugees and companies.It will enable them to have a smooth access to job markets and training opportunities in host countries as early as possible.</p></strong>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-xs-8">
    <div class="col-xs-12">
      <p style="text-align: center, background-image: linear-gradient(#23395B)"><strong>HOW IT WORKS:</strong>
        Launching .access is in itself a digital invitation to all refugees and companies to communicate with each other through our platform.</p>
        <p><strong>Companies</strong> are invited to display their own job vacancies and refugees can apply to them and wait for the decisions of the companies. Thus, there willn't be any need for humanitrain organizations to facilitate that reach out or communication that usually requires several months or years.</p>
        <p><strong>Refugees</strong> can make urgent calls on our platform for specifying their needs for professional trainings and job opportunities, especially when their contracts with their humanitarian programs finish.</p>
      </p>
    </div>
  </div>
</div>


<div class="quote" style="width:67%">

  <div><%= image_tag "factmag-logo.jpg", style: "width:40%;"%></div>
  <p>In many host countries, the legal status of refugees is insecure and does not permit their social inclusion and access to employment and entrepreneurship. </p>
</div>
</div>











<div class="container-fluid DOTACCESS-wrapper">
  <h2 class="section-title-home" style="font-size:30px;">
    <div class="section-title-home-content" style="background-color: white"><%= image_tag "briefcase (1).png", style: "width:14%" %> <strong>OUR AGENDA</strong>

    </div>
  </h2>
  <div id="agenda-container" class="container agenda-container" class="text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="agenda-body-card">
          <div class="agenda-body">
            <div class="agenda-content">
              <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims at stimulating a global social change by applying a strength-based approach while dealing with the refugee phenomenon instead of perceiving them as pathetic vulnerable groups.</p>
              <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims mainly at creating an open source database for Refugees's professional profiles.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonial-author">
        <div class="testimonial-user-name">
          <p style="text-align: left"><strong style="color: #FDB631">.access: </strong> aims at launching the first Humanitarian Internet Domain that stands for esatblishing a bi-directional communication path bewteen refugees and job markets.</p>
          <p style="text-align: left;"><strong style="color: #FDB631">.access: </strong> aims at launching an Association for Forced Migartion Workforce that will regulate and monitor the access of its members to job markets.</p>
        </div>
      </div>


    </div>

  </div>





  <div class="container">
    <% @job_offers[0...9].each do |job_offer| %>

    <%= render "job_offers/job_offer_card", job_offer: job_offer %>

    <% end %>
  </div>

  <!-- Large modal -->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

