<div class="company-profile__wrapper wrapper">
  <div class="company-profile__container container">
    <div class="company-profile__left-column col-xs-12 col-md-4">
      <div class="company-profile__picture">
        <% if @company.picture.nil? %>
        <%= image_tag "http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png" %>
        <% else %>
          <%= image_tag @company.picture %>
        <% end %>
      </div>
      <div class="company-profile__details">
        <h1><span><i class="fa fa-briefcase"></i></span> <%= @company.name %></h1>
        <h2><span><i class="fa fa-map-pin"></i></span> <%= @company.location %></h2>
        <p><%# @company.description %></p>
      </div>
    </div>
    <div class="company-profile__right-column col-xs-12 col-md-8">
      <div class="company-profile__job-offer">
        <% @job_offers.each do |job_offer| %>
          <%= render 'job_offers/job_offer_card', job_offer: job_offer %>
        <% end %>
      </div>
    </div>
  </div>
</div>
