  <font  color="#FF715B"><h2> New job offer </h2></font>
  <div class ="new_offer">
  <%= simple_form_for @job_offer do |f| %>
    <%= f.input :title %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.button :submit, "Create Job Offer", class: "btn btn-success" %>
  <% end %>
</div>
