<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div id="title" class="content">
        <%= image_tag @job_offer.company.picture,:class => "style_image"%>
        <br/>
        <p><%= @job_offer.company.name %></p>
        <h1><%= @job_offer.title %></h1>
      </div>

      <div id="location" class="content">
        <p><strong>Location: </strong><%= @job_offer.location %></p>
      </div>

      <div id="apply-button" class="content">
        <% if @job_offer.job_applications.find_by(user: current_user).nil? %>

          <!-- Link to modal -->
          <%= link_to "APPLY TO THIS JOB OFFER", new_job_offer_job_application_path(@job_offer), remote: true, class: "btn btn-success" %>
        <% end %>

      </div>

      <div id="description" class="content">
        <p><strong>Description:</strong></p>
        <p class="text-justify"><%= @job_offer.description %></p>
      </div>

      <div id="application" class="content">
        <% unless @job_offer.job_applications.find_by(user: current_user).nil? %>
        <p id="applied">You have already applied to this job offer.</p>
        <p><strong>Status of your application: </strong>
          <%= @job_offer.job_applications.find_by(user: current_user).status %></p>
          <p><strong>Your personal motivation: </strong><%= @job_offer.job_applications.find_by(user: current_user).personal_motivation %></p>
          <% end %>
        </div>
      </div>
    </div>

  </div>


<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
