<h1> job offers (<%= @job_offer.title  %>)</h1>

<%= @job_offer.title %>
<%= @job_offer.location %>
<%= @job_offer.description %>

<% unless @job_offer.job_applications.find_by(user: current_user).nil?  %>
  <strong>HRREEEEEYYY</strong>
  <%= @job_offer.job_applications.find_by(user: current_user).status %>
  <strong> <%= @job_offer.job_applications.find_by(user: current_user).personal_motivation %></strong>
<% end %>

<%= link_to "Apply", new_job_offer_job_application_path(@job_offer) %>

