<% content_for(:title_tag) do %>
  DotAccess | <%= @job_offer.company.name %> | <%= @job_offer.title %>
<% end %>

<% content_for :meta_title, "DotAccess | #{@job_offer.company.name} is looking for a #{ @job_offer.title}" %>
<% content_for :meta_description, @job_offer.description %>
<% content_for :meta_image, cloudinary_url(@@job_offer.company.photo.path) %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <div id="title" class="content">
      <% unless @job_offer.company.picture.nil? %>
        <%= image_tag @job_offer.company.picture,:class => "style_image"%>
        <% end %>
        <br/>
        <p><%= @job_offer.company.name %></p>
        <h1><%= @job_offer.title %></h1>
      </div>

      <div id="location" class="content">
        <p><strong>Location: </strong><%= @job_offer.location %></p>
      </div>

      <div id="buttons">
        <!-- Link to modal -->
        <% if user_signed_in? %>
          <% if @job_offer.job_applications.find_by(user: current_user).nil? %>
            <div class="content">
            <!-- Link to modal -->
            <%= link_to "Apply to this Job Offer", new_job_offer_job_application_path(@job_offer), remote: true, class: "btn btn-success btn-margin btn-big" %>
            </div>
          <% end %>
        <% elsif company_signed_in? && @job_offer.company_id == current_company.id %>
        <div class="content">
            <%= link_to "Edit", "", remote: true, class: "btn btn-success btn-margin" %>
            <%= link_to "Close", "", remote: true, class: "btn btn-info btn-margin" %>
            <%= link_to "Remove", "", remote: true, class: "btn btn-primary btn-margin" %>
          </div>
          <% else %>
          <div class="content">
            <%= link_to "Apply to this Job Offer", new_user_registration_path, class: "btn btn-success btn-margin btn-big" %>
          </div>
        <% end %>
      </div>

      <div id="description" class="content">
        <p><strong>Description:</strong></p>
        <p class="text-justify"><%= @job_offer.description %></p>
      </div>


      <div class="content">
        <% if user_signed_in? %>
          <% unless @job_offer.job_applications.find_by(user: current_user).nil? %>
            <div class="center">
              <div class="gray-div text-center">
                <p id="applied">You have already applied to this job offer.</p>
                <p><strong>Status of your application: </strong>
                  <%= @job_offer.job_applications.find_by(user: current_user).status %></p>
                <p><strong>Your personal motivation: </strong><%= @job_offer.job_applications.find_by(user: current_user).personal_motivation %></p>
                <% end %>
              </div>
            </div>
          <% elsif company_signed_in? && @job_offer.company_id == current_company.id %>
            <%= render "job_applications/index" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
